/*===================================
               body
===================================*/
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
}
/*===================================
              welcome.blade
===================================*/
/*=================
        about
===================*/
.title {
    width: 200px;
    margin:20px auto;
    border-bottom: 2px solid #FF5722;
}
.about {
    padding-bottom:1px;
}
.about > h2 {
    margin-top:0;
    padding-top:20px;
    color:white;
}
.profile-img{
    border-radius: 50%;
    width: 100%;
    filter: brightness(150%);
}
.profile-description{
    color: white;
}
.experience, .awards-history tr
{
    border: none;
}
.experience > tr > td, .experience,
.awards-history > tr > td, .awards-history > th {
    color: white;
}
.fa-newspaper {
    color:#039be5;
}

@media screen and (min-width:800px) {
    .profile-description{
        font-size: 20px;
    }
}
@media screen and (min-width:1000px) {
    .profile-description{
        font-size: 25px;
        line-height: 50px;
    }
}
/*=================
    Dev skill
===================*/
.skill-title{
    width: 380px;
    margin:20px auto;
    border-bottom: 2px solid #FF5722;
}
.logo{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 70px;
}
.parallax-container{
    height: 200px;
}
@media screen and (max-width:600px) { 
    .parallax-container{
        height: 100px;
    }
}
.fa-thermometer-full{
    color: red;
}
.fa-thermometer-half{
    color: orange;
}
.fa-thermometer-empty,.fa-css3-alt{
    color: blue;
}
.fa-html5{
    color: #FF5733;
}
.fa-css3-alt{
    color: #264de4;
}
.fa-js{
    color: #F0DB4F;
}
.jquery{
    color: #0769AD;
}
.fa-vuejs{
    color: #41B883;
}
.fa-php{
    color:  #474A8A;
}
.fa-laravel{
    color:  #F05340;
}
.fa-react{
    color:  #00d8ff;
}
.mysql{
    color:  #00758F;
}
.fa-aws{
    color:  #F79C34;
}
.heroku{
    color:  #C9C3E6;
}
/*=================
    Dev skill
===================*/
.fa-chalkboard-teacher{
    color:  #2FCDB4;
}
.fa-laptop{
    color:  #1253A4;
}
.fa-comments{
    color:  #FFD464;
}
.fa-hand-holding-heart{
    color:  #F26964;
}
.fa-fire{
    color:  red;
}
.firebase{
    color: #F4B400;
}
/*=================
        product
===================*/
.works-photo{
    height:150px!important;
}
.card:hover img{
    filter: blur(5px);
    transition-duration:1s;
}
.card-title{
    opacity:0;
    font-size:30px;
}
.card:hover .card-title{
    opacity:1;
    color: #FF5722;
    -webkit-text-stroke: 1px #FF5722;
    transition-duration:1s;
}
@media screen and (max-width:600px) { 
    .works-photo{
        height:200px!important;
    }
}
@media screen and (min-width:1000px) {
    .works-photo{
        height:300px!important;
    }
}
/*=================
        footer
===================*/
.red-foot{
    height:2px;
    margin:0;
}
.product-line{
    height:1px;
    margin:0;
}
.product-under-line{
    margin-bottom: 15px;
}
.black-foot{
    height:170px;
    padding-top: 20px;
    padding-bottom: 0;
}
.footer-table .mail {
    padding-bottom: 0;
}
.footer-table .copyright{
    padding-top: 0;
}
.footer-table tr{
    border: none;
}
.sns > a > i {
    color: #FF5722;
}
.fa-envelope{
    color: white;
}
.footer-table small{
    color: white;
}
/*===================================
              modal
===================================*/
.modal-footer{
    padding-right: 25px!important;
}
.modal-footer > 
a:link { color: #2c3e50; }
a:visited { color: #2c3e50; }
a:hover { color: #2c3e50; }

.footer-table td{
    margin: 0;
    padding: 5px 0;
}

.QR {
    width: 70px;
}